.profile {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 116px;
}

@media screen and (max-width: 1333px) {
    .profile {
        gap: 80px;
    }
}

@media screen and (max-width: 955px) {
    .profile {
        gap: 40px;
    }
}