.form {
    display: flex;
    flex-direction: column;
}

.form__submit-btn {
    margin: 24px 0 0;
    padding: 8px 16px;
    width: 124px;
    height: 36px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.form__submit-btn_disabled {
    opacity: 0.3;
    cursor: default;
}

/* My attempt to make this modal work with the form */
.form__submit-btn_type_delete {
    width: 140px;
    margin: 0 auto 48px;
    padding: 0;
    background: none;
    border: none;
    align-self: stretch;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FF4D00;
    cursor: pointer;
}

.form__submit-btn_type_register {
    margin-top: 32px;
    width: 86px;
    height: 36px;
}

.form__submit-btn_type_login {
    width: 79px;
    height: 36px;
}

.form__submit-btn_type_edit {
    width: 131px;
    height: 36px;
}

.form__submit-btn_type_go_to_login {
    position: absolute;
    bottom: 34px;
    left: 114px;
    padding: 10px;
    width: 80px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: none;
    background-color: #fff;
    color:rgba(0, 0, 0, .5);
    border-radius: 4px;
    cursor: pointer;
}

.form__submit-btn_type_go_to_sign_up {
    padding: 0;
    width: 85px;
    height: 36px;
    position: absolute;
    bottom: 36px;
    left: 108px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: none;
    background-color: #fff;
    color:rgba(0, 0, 0, .5);
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 515px) {
    .form__submit-btn {
        width: 100%;
    }

    .form__submit-btn_type_go_to_login {
        bottom: 32px;
        left: 0;
    }

    .form__submit-btn_type_go_to_sign_up {
        bottom: 36px;
        left: 0;
    }
}