.item-card {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 323px;
    max-height: 326px;
    overflow: hidden;
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #E9E9E9;
    cursor: pointer;
}

.item-card__header {
    position: absolute;
    top: 15px;
    display: flex;
    gap: 10px;
}

.item-card__name {
    margin: 0;
    text-align: center;
    color: rgba(0, 0, 0, .60);
    background-color: #fff;
    padding: 2px 12px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
}

.item-card__image {
    margin: 0;
    padding: 0;
    object-fit: contain;
}

@media screen and (max-width: 720px) {
    .item-card {
        max-width: 250px;
        max-height: 250px;
    }
}

@media screen and (max-width: 565px) {
    .item-card {
        max-height: 162px;
        max-width: 162px;
    }
}