.main {
    margin: 0;
    padding: 0;
}

.main__gallery {
    margin: 0;
    padding: 0;
}

.main__temp-text {
    margin: 40px 0 34px;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.main__items-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 323px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.main__items-message {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

.main__random-btn {
    display: none;
}

@media screen and (max-width: 720px) {
    .main__items-list {
        grid-template-columns: repeat(auto-fit, 250px);
    }
}

@media screen and (max-width: 565px) {
    .main__temp-text {
        margin-top: 32px;
    }

    .main__items-list {
        gap: 15px;
        grid-template-columns: repeat(auto-fit, 164px);
    }

    
}

@media screen and (max-width: 450px) {
    .main__random-btn {
        color: #fff;
        display: block;
        margin: 20px auto 0;
        border: none;
        border-radius: 4px;
        background-color: #000;
        height: 44px;
        width: 343px;
    }
}