.item-card {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 323px;
    max-height: 326px;
    overflow: hidden;
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    cursor: pointer;
}

.item-card__name {
    margin: 0;
    position: absolute;
    text-align: center;
    color: rgba(0, 0, 0, .60);
    background-color: #fff;
    padding: 2px 12px;
    top: 15px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;

}

.item-card__image {
    margin: 0;
    padding: 0;
    object-fit: contain;
}