.footer {
    display: flex;
    justify-content: space-between;
    margin: 85px 0 0;
    padding: 0 0 24px;
}

.footer__author {
    margin: 0;
    padding: 0;
}

.footer__year {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 380px) {
    .footer {
        margin-top: 83px;
    }
}
