.footer {
    display: flex;
    justify-content: space-between;
    margin: 85px 0 24px;
    padding: 0;
}

.footer__author {
    margin: 0;
    padding: 0;
}

.footer__year {
    margin: 0;
    padding: 0;
}
